main {
    width: 120rem;
}

main h2 {
    font-size: 3.5rem;
    text-align: center;
    margin: 3rem;
}

main p {
    max-width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
}
main .container-about .container-img{
    width: 40rem;
    display: inline-block;
}
main .container-about .container-img img{
    max-width: 100%;
}
main .container-about .container-text{
    width: 79rem;
    display: inline-block;
}