:root {
    --color-primario: #ebaa07;
    --blanco: #fff;
    --negro: #000;
    --color-fondo-hover: #aaaaaa23;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}



.nav-bg {
    padding: 0;
    background-color: #ebaa07;
    margin-bottom: 2.5rem;
    color: red;
    margin-top: 0;
    margin-bottom: .5rem;
}



.nav-bg ul li a {
    color: var(--negro);
}

.nav-bg ul li a:hover {
    background-color: var(--negro);
    color: var(--blanco);
    height: 100%;
    border-radius: 3px;
}

header {
    margin-bottom: 1rem;
    width: 100%;
}

header .titulo {
    text-align: center;
    font-size: 3.8rem;

}

.eslogan {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

.home-main-lyout,
.main {
    margin: 0 auto;
    max-width: 100%;
    width: 120rem;

}

/*presentacion en tamaño mobile
.main .presentacion {
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}*/


.main .presentacion {
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.home-main-lyout section div img {
    width: 150px;
    max-width: 100%;
    margin: 0 auto;
}

/*
/*Estilos para index.html*/
/*
.home-main-lyout{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: auto 1fr;
    gap: 0px 2rem;
    grid-template-areas:
    "presentacion-lyout presentacion-lyout"
    "home-container-carrusel home-container-iconos";
}
.presentacion-lyout{
    
    grid-area: presentacion-lyout;
}*/

/*
.home-main-lyout section h3 {
    text-align: center;
    font-size: 2.8rem;
}

.home-main-lyout section div h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.cualidades-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 0.5rem 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "cualidad cualidad"
        "cualidad-icono cualidad-descripcion";
}
.cualidades-container:hover{
    background-color: var(--color-fondo-hover);
    padding: 2rem;
    border-radius: 1rem;
}

.cualidad {
    grid-area: cualidad;
}

.cualidad-icono {
    grid-area: cualidad-icono;
}

.cualidad-descripcion {
    grid-area: cualidad-descripcion;
    margin: 1rem;
}*/
.footer i {
    color: white;
    font-size: 3rem;
}

/* ESTILOS DE servicio.html */
.servicios-main-lyout {
    max-width: 100%;


}
.servicios-main-lyout section {
    margin: 0 auto 3rem auto;


}
.servicios-main-lyout div img {
    max-width: 100%;
}

@media (min-width: 992px) {
    .navbar {
        margin-left: auto;
        margin-right: auto;
        max-width: 110rem;
    }

    .nav-bg ul {
        margin-left: 09rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        max-width: 120rem;
    }
}

@media (min-width:768px) {
    .home-main-lyout {
        max-width: 100%;
    }

    .servicios-main-lyout,
    .home-main-lyout,
    .presentacion {
        max-width: 90%;
        margin: 0 auto;

    }

    .servicios-main-lyout section {
        position: relative;
        margin: 0 auto 3rem auto;;
    }

    .servicios-main-lyout section:hover {
        border: solid #0d6dfd3a 2px;
        background-color: var(--color-fondo-hover);
    }

    .servicios-main-lyout section .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        position: absolute;
        right: 0.5rem;
        bottom: -3.5rem;

    }}



@media (min-width: 576px) {
    .home-main-lyout {
        max-width: 100%;
    }

    .home-main-lyout .carrusel,
    .home-main-lyout section {
        max-width: 90%;
        margin: 0 auto;
    }

    

    .servicios-main-lyout section .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        display: block;
        
    }
}
@media (max-width: 576px) {
    .home-main-lyout {
        max-width: 100%;
        
    }

    .home-main-lyout .carrusel,
    .home-main-lyout section {
        max-width: 90%;
        margin: 0 auto 3rem auto;
    }

    .servicios-main-lyout section {

        margin: 2rem;
    }

    .servicios-main-lyout section:hover {
        border: solid #0d6dfd3a 2px;
        background-color: var(--color-fondo-hover);
    }

    .servicios-main-lyout section .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        display: block;

    }
}