main{
    width: 120rem;
}
main h2 {
    font-size: 3.5rem;
    text-align: center;
    margin: 3rem;
}
main p{
    max-width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
}

main h3{
    text-align: center;
    font-size: 2.2rem;
}
main section{
    background-color: grey;
    width: 120rem;
    height: 28rem;
    margin: 3rem auto;
    padding: 0;
    position:relative;
    border-radius: 4px;
}
main section .container-img{
    margin: 0;
    padding: 0;
    width: 420px;
    position: absolute;
    left: 0;
    top: 0;

}


main section .container-img img{
    max-width: 100%;
    width: 100%;
    
    display: block;
}
main section .container-text{
    width: 76rem;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    
}
main section .container-text p{
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    display: block;
}
main section .container-botom {
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    right: -2rem;
    bottom: -2rem;
    
}
main section .container-botom a{
    color: black;
    padding: 2rem;
    text-decoration: none;
    font-weight: 500;
    background-color: #ebaa07;
    border-radius: 4px;
}
main section .container-botom a:hover{
    background-color: black;
    color: white;
}
.container-final{
    margin-bottom: 8rem;
}